<div class="startSection">
  <h1 class="text-center">Make your own Cookbook.</h1>
  <div class="buttonC">
  <button class="bbutton">Get Started >></button>
 </div>
  
</div>

<div class="instructionSection">
  
  <div class="instructionNav">
    <div class="navLeft">
        <h2>How it works</h2>
    </div>
      <div class="navRight">
        <ul>
          <li> <a href=""><i class="fab fa-pinterest"></i></a></li>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
          <li><a href=""><i class="fab fa-facebook"></i></a></li>
        </ul>
            
      </div>
      <div class="instruction">
          <div class="step1">
              <h3>Lorem Ipsum</h3>
              <p class="steps">1</p>
              <p>Lorem ipsum defor sit amet consector</p>
            </div>
            <div class="step2">
              <h3>Lorem Ipsum</h3>
              <p class="steps">2</p>
              <p>Lorem ipsum defor sit amet consector</p>
            </div>
            <div class="step3">
              <h3>Lorem Ipsum</h3>
              <p class="steps">3</p>
              <p>Lorem ipsum defor sit amet consector</p>
            </div>
      </div>
    
  
</div>

<div class="sampleSection">
  <img src="/family.jpg" alt="" height="150px;"">
  <div class="sample">
    <h2>Lorem ipsum dolor sit </h2>
    <p>Lorem ipsum dolor sit amet consec</p>
    <button class="bbutton"> See sample >></button>
  </div>
  
</div>


