<div id="wholeBody">
<div class="startSection">
  <div class="getStartedWrapper">  
    <h1 class="textCenter">Meals taste better when they're shared. <br> Create your own cookbook today.</h1>    
    <%= link_to "Get Started", new_user_registration_path, class: "welcomeButton" %> </div>  
</div>

<div class="instructionSection">
  <div class="instructionNav">
    <div class="navLeft">
    </div>
    <div class="instruction">
      <div class="stepsTextContainer">
      <h2>How it works:</h2>
        <div class="step1">
          <h3>Create</h3>
          <p class="stepsCircles">1</p>
          <p>Create unique cookbooks that help you cherish your best cooking memories.</p>
        </div>
        <div class="step2">
          <h3>Add</h3>
          <p class="stepsCircles">2</p>
          <p>Add homemade recipes to your books or choose from hundreds of user recipes.</p>
        </div>
        <div class="step3">
          <h3>Print</h3>
          <p class="stepsCircles">3</p>
          <p>Print and share your creations with family and friends.</p>
        </div>
    </div>
    </div>
  </div>
  <div class="sampleSection">
    <img src="/family-gathering pic.jpeg" alt="f" height="300px">
    <div class="sample">
      <h2>Create recipes that last a lifetime.</h2>
      <p>We believe in the power of sharing good meals and preserving traditions. <br> Create your first cookbook today!</p>
      <button class="welcomeButton">See sample</button>
    </div>
  </div>
</div>
                                   
