<div id="wholeBody">
<div class="startSection">
  <div class="getStartedWrapper">  
    <h1 class="textCenter">Create meals that last a lifetime.</h1>
    <%= link_to "Get Started", new_user_registration_path, class: "welcomeButton" %> </div>  
</div>

<div class="instructionSection">
  <div class="instructionNav">
    <div class="navLeft">
    </div>
    <div class="instruction">
      <div class="stepsTextContainer">
      <h2>How it works:</h2>
        <div class="step1">
          <h3>Create</h3>
          <p class="stepsCircles">1</p>
          <p>Lorem ipsum defor sit amet consector</p>
        </div>
        <div class="step2">
          <h3>Add</h3>
          <p class="stepsCircles">2</p>
          <p>Lorem ipsum defor sit amet consector</p>
        </div>
        <div class="step3">
          <h3>Print</h3>
          <p class="stepsCircles">3</p>
          <p>Lorem ipsum defor sit amet consector</p>
        </div>
    </div>
    </div>
  </div>
  <div class="sampleSection">
    <img src="/family-gathering pic.jpeg" alt="f" height="300px">
    <div class="sample">
      <h2>Lorem ipsum dolor sit</h2>
      <p>Lorem ipsum dolor sit amet consec</p>
      <button class="welcomeButton">See sample</button>
    </div>
  </div>
</div>
                                   
