<h1>Welcome</h1>
<h3>Your Cookbooks:</h3>
<div class="dashboardBooks">
  <img src="/book.png" class="dashboardBookImage"alt="bookpic">
  
<br>
<h3>Recently Added Recipes:</h3>
    <% @recipes.each do |recipe| %>
      <div class="dashboardRecipe" >
      <td><%= link_to recipe.name, recipe %></td>
      <br>
     
        <img src="/background.png" class="dashboardRecipeImage"alt="foodpic">
  
      <% if current_book.present? %>
            <% if current_book.recipes.include?(recipe) %>
              <%= button_to "Remove from #{current_book.name}",
                  book_recipe_cookbook_entries_path(current_book, recipe),
                  method: :delete,
                  class: "btn btn-danger" %>
            <% else %>
              <%= button_to "Add to #{current_book.name}",
                  book_recipe_cookbook_entries_path(current_book, recipe),
                  class: "btn btn-primary" %>
            <% end %>
          <br>
        <% end %>
    <% end %>
    </div>

