.dashboardBody{
  font-family: 'Judson', serif;
}
.dashboardRecipe{
  text-align: center;
  font-size: 3rem;
  font-family: 'Judson', serif;
}
.dashboardBookImage{
  height: 20rem;
  width: 20rem;
}
.addRemoveButtons{
  height: 500px;
}
.dashboardRecipeImage{
  display: inline-block;
  height:20rem;
  width: 20rem;
}
.dashboardRecipeUserInfo{
  display: flex;
  align-items: inline;
}
.dashboardUserPic{
  margin: 25px;
}
.dashboardUserName{
  margin: 25px;
}

