#wholeBody{
  border: solid 1px red; 
  height: 100rem;
  background: white;

}
.startSection{
  background-image: url(/dinnertable1.jpeg);
  height: 25rem;
  background-repeat: repeat-y;
  background-size: 100%;
  text-align: center;
  padding: 9.5rem
}
.getStartedWrapper{
  justify-content: center;
}
.startSection h1{  
  color:rgb(255, 255, 255);
  font-size:40;
  font-family: 'Judson', serif;
;
}
.welcomeButton{
  height:60px;
  width:250px;
  background-color: #C8502A;
  color: white;
  text-align: center;
}

.instructionSection{
  height:300px;
}

.instructionSection h2{
  color: black;
}

.navRight{
  display:grid;
  justify-items: right;
}

.navRight li{
  display: inline;
}

.sampleSection{
  background-color:#D4B38B;
  height:300px;
}

.instruction{
  display:flex;
  justify-content: center;
  margin:auto;
}

.steps{
  border: solid 1px  grey; 
  width:100px;
  height:100px;
  border-radius: 100px;
  background-color:#97B787;  
  text-align:center;
  font-size:40px;
  padding:15px;
  color:white;
}

.sampleSection{
  display:flex;
  justify-content: center;
  margin-top:auto;
  padding:50px;
}

.sample{
  padding:50px;
  margin-bottom: auto;  
}
