.navbarContainer{
  background-color: #C8502A;
  font-size:20px;
}

.navbarContainer a{
  color:white;
}

.navbarContainer a:hover{
  color:black;
}

.navbarDropdown{
  background-color: #97B787;
}

#navToggle{
  background-color:  #C8502A !important;
}
#navToggle a:hover{
  color: black;
}
