.recipeContent{
  height:550px;
  border: 5px solid #000000;
  background:#f17908;
  border-radius: 10px;
}
.leftContent{
  padding:10px;
  float: left;
  width: 50%;
  height: 100%;;
}
.rightContent{
  padding:20px;
  float: left;
  width: 50%;
}
.imageIcon{
  color:pink;
  background-color:blue;
  height:200px;
  width:225px;
  background-image: url("/photo.png")
}
.textBox{
  height:150px;
  width:300px;
  border-radius: 10px;
}
label{
  font-weight: bold;
  color:white;
  font-size:20px;
}
.createButton{
  background-color:#8d5022;
  border: 2px solid #8d5022;
  color: white;
  height:50px;
  border-radius: 5px;
}
.backButton{
  background-color:#8d5022;
  border: 2px solid #8d5022;
  color: white;
  height:150px;
  width:200px;
  border-radius: 5px;
}
.actions{
  text-align: center;
}
