.recipeContent{
  height:60vh;
  width: 50vw;
  border: 2px solid black;
  background:white;
  border-radius: 1px;
  margin: auto auto;  
  text-align: center;
  overflow: hidden;
  margin-top: 50px;
}

.leftContent{
  padding:10px;
  float: left;
  width: 50%;
  height: 100%;
}

.rightContent{
  padding:20px;
  width: 50%;
  float: right;
}

.imageIcon{
  background-color: transparent;
  height:150px;
  width:150px;
  margin-left: 8%;
  background-repeat: no-repeat;
  background-image: url("/iconfinder-camera.jpeg")
}

.textBox{
  height:150px;
  width:300px;
  border-radius: 10px;
}

label{
  color:black;
  font-size:20px;
}

.createButton{
  height:40px;
  width:150px;
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  display: inline-block;
  transition: all 0.4s ease 0s;
  background-color: #C8502A;
  color: white;
  text-align: center;
  border-color: transparent;
}

.createButton:hover {
  color: #ffffff;
  background: #f6b93b;
  border-color: #f6b93b;
  transition: all 0.4s ease 0s;
  }

.actions{
  text-align: center;
}
